/* Variables */
:root {
    --color-white: #fff;
    --color-grey-light: #f7f7f7;
    --color-grey-dark: #171A21;

    --color-text-grey: #777;
}

/* Utility classes */
.u-container {
    max-width: 85%;
    margin: 0 auto;
    height: 100%;
}

.u-center-element-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Main styles */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-image: url(./../assets/bg-steam.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    text-align: center;
    position: relative;
}

.container {
    max-width: 85%;
    margin: 0 auto;
    height: 100%;
}

.header__wrapper {
    width: 85%;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.heading-primary {
    color: var(--color-white);
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.header__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
    margin: 0 auto;
}

.header-label {
    color: var(--color-white);
    font-size: 1.7rem;
}

.header-input-text {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
}

/* Scroll down button */
.scroll-down-btn {
    height: 6rem;
    width: 3.5rem;
    top: 90%;
    border: 2px solid var(--color-white);
    border-radius: 2rem;
}

.scroll-down-btn::before,
.scroll-down-btn::after {
    content: "";
    position: absolute;
    background-color: var(--color-white);
    width: 3px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-down-btn::before {
    height: 1rem;
}

.scroll-down-btn::after {
    height: 3px;
    animation-name: scroll-down-move;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
}

@keyframes scroll-down-move {
    100% {
        transform: translate(-50%, 3rem);
        opacity: 0;
    }
}

/* ^^ Finish scroll down button ^^ */

.filters {
    background-color: var(--color-grey-light);
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(./../assets/pattern.jpg); */
    padding: 5rem 0;
}

.filters__form {
    color: var(--color-text-grey);
    font-size: 1.5rem;
}

.filters-label {
    margin-right: 2rem;
}

.filters-input {
    padding: .3rem;
    border-radius: .5rem;
    border-color: var(--color-grey-dark);
}