/* Variables */
:root {
    /* Base */
    --color-white: #fff;
    --color-green: #4DB8BC;
    --color-offer-green-light: #BEEE11;
    --color-offer-green-dark: #4c6b22;
    --color-grey-dark: #344654;
    --color-grey-light: #738895;

    /* Background */
    --color-background-grey-light: #f7f7f7;
    --color-background-grey-dark: #171A21;

    /* Text */
    --color-text-grey: #777;
}

/* Utility classes */
.u-container {
    max-width: 120rem;
    width: 85%;
    margin: 0 auto;
    height: 100%;
}

.u-center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.u-margin-bottom {
    margin-bottom: 2rem;
}

/* Main styles */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-image: url(./../assets/bg-steam.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    text-align: center;
    position: relative;
}

.header__wrapper {
    width: 85%;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.heading-primary {
    color: var(--color-white);
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.header__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
    margin: 0 auto;
}

.header-label {
    color: var(--color-white);
    font-size: 1.7rem;
}

.header-input-text {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
}

/* Scroll down button */
.scroll-down-btn {
    height: 6rem;
    width: 3.5rem;
    top: 90%;
    border: 2px solid var(--color-white);
    border-radius: 2rem;
}

.scroll-down-btn::before,
.scroll-down-btn::after {
    content: "";
    position: absolute;
    background-color: var(--color-white);
    width: 3px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-down-btn::before {
    height: 1rem;
}

.scroll-down-btn::after {
    height: 3px;
    animation-name: scroll-down-move;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
}

@keyframes scroll-down-move {
    100% {
        transform: translate(-50%, 3rem);
        opacity: 0;
    }
}

/* ^^ Finish scroll down button ^^ */

.filters {
    background-color: var(--color-background-grey-dark);
    padding-top: 5rem;
}

.filters__form {
    color: var(--color-white);
    font-size: 1.5rem;
}

.filters-label {
    margin-right: 2rem;
}

.filters-input {
    padding: .3rem;
    border: none;
    border-radius: .5rem;
}

.results {
    background-color: var(--color-background-grey-dark);
    padding: 5rem 0;
}

.heading-secondary {
    color: var(--color-green);
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.results__grid {
    margin: 3rem 0;
    display: grid;
    gap: 5rem;
}

.game-box {
    text-decoration: none;
}

.game-box__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.game-box__info {
    background-image: url(./../assets/bg-price-box.jpg);
}

.game-box__game {
    color: var(--color-white);
    font-size: 1.5rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

.game-box__price {
    display: flex;
    align-items: center;
    height: 3rem;
}

.game-box__price-item {
    background-color: var(--color-grey-dark);
    padding: 0 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.game-box__price-item--discount {
    background-color: var(--color-offer-green-dark);
    color: var(--color-offer-green-light);
    font-size: 2rem;
}

.game-box__price-item--final-price {
    background-color: var(--color-grey-dark);
    color: var(--color-offer-green-light);
    font-size: 1.6rem;
}

.game-box__price-item--original-price {
    background-color: var(--color-grey-dark);
    color: var(--color-grey-light);
    text-decoration: line-through;
    font-size: 1.4rem;
}

.footer {
    background-color: var(--color-grey-dark);
    padding: 3rem 0;
    color: var(--color-white);
    text-align: center;
}

.footer__text {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.author {
    color: inherit;
}

.go-back, .details {
    padding: 5rem 0;
    background-color: var(--color-background-grey-dark);
}

.btn {
    background-color: var(--color-green);
    color: var(--color-white);
    border: none;
    border-radius: .5rem;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.btn--icon {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.heading-tertiary {
    font-size: 2rem;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.offer__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.offer__info {
    background-color: var(--color-grey-dark);
    padding: 2rem;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.offer__expiration-date {
    font-size: 1.4rem;
}

.offer__percentage {
    background-color: var(--color-offer-green-dark);
    color: var(--color-offer-green-light);
    font-size: 2rem;
    padding: .5rem .8rem;
    width: fit-content;
}

.offer__price {
    display: flex;
    gap: 2rem;
    align-items: baseline;
}

.offer__price--current {
    font-size: 2rem;
}

.offer__price--previous {
    font-size: 1.6rem;
    text-decoration: line-through;
    color: var(--color-grey-light);
}