// Base
$color-white: #fff;
$color-black: #000;
$color-green: #4DB8BC;
$color-offer-green-light: #BEEE11;
$color-offer-green-dark: #4c6b22;
$color-grey-dark: #344654;
$color-grey-light: #738895;

// Background
$color-background-grey-light: #f7f7f7;
$color-background-grey-dark: #171A21;

// Text
$color-text-grey: #777;