.footer {
    background-color: $color-grey-dark;
    padding: 2rem 0;
    color: $color-white;
    text-align: center;

    &__text {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}

.author {
    color: inherit;
}