.carousel {
    position: relative;

    &__image {

        img {
            @include image-fit-cover;
        }
    }

    &__btn {
        position: absolute;
        width: 4rem;
        height: 100%;
        border: none;
        outline: transparent;
        background-color: transparent;
        color: $color-black;
        font-size: 2rem;
        font-weight: 700;

        &--prev {
            top: 0;
            left: 0;
            background-image: linear-gradient();
        }

        &--next {
            top: 0;
            right: 0;
            background-image: linear-gradient();
        }
    }
}