html {
    font-size: 62.5%;           //1rem = 10px

    @include respond(x-small) {
        font-size: 68.75%;      //1rem = 11px
    }

    @include respond(small) {
        font-size: 75%;         //1rem = 12px
    }

    @include respond(medium) {
        font-size: 81.25%;      //1rem = 13px
    }

    @include respond(large) {
        font-size: 87.5%;      //1rem = 14px
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

.heading-primary {
    color: $color-white;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.heading-secondary {
    color: $color-green;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;

    @include respond(medium) {
        font-size: 2rem;
    }
}

.heading-tertiary {
    font-size: 2rem;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}