.u-container {
    max-width: 120rem;
    width: 85%;
    margin: 0 auto;
    height: 100%;
}

.u-center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}