.go-back {
    padding-top: 4rem;
    background-color: $color-background-grey-dark;

    @include respond(small) {
        padding-top: 3rem;
    }
}

.details {
    padding: 4rem 0;
    background-color: $color-background-grey-dark;

    @include respond(small) {
        padding: 3rem 0;
    }
}

.grid-container {
    display: grid;
    gap: 3rem;
}

.offer {

    &__image {

        img {
            @include image-fit-cover;
        }
    }

    &__info {
        background-color: $color-grey-dark;
        padding: 2rem;
        color: $color-white;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__expiration-date {
        font-size: 1.4rem;
    }

    &__percentage {
        background-color: $color-offer-green-dark;
        color: $color-offer-green-light;
        font-size: 2rem;
        padding: .5rem .8rem;
        width: fit-content;

        @include respond(x-small) {
            font-size: 2.2rem;
        }
    }

    &__price {
        display: flex;
        gap: 1rem;
        align-items: baseline;

        @include respond(x-small) {
            gap: 2rem;
        }

        &--current {
            font-size: 1.8rem;

            @include respond(x-small) {
                font-size: 2rem;
            }
        }

        &--previous {
            font-size: 1.4rem;
            text-decoration: line-through;
            color: $color-grey-light;

            @include respond(x-small) {
                font-size: 1.6rem;
            }
        }
    }
}

.overview {
    background-color: $color-grey-dark;
    padding: 2rem;

    &__title {
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 400;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $color-background-grey-dark;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 3px solid $color-green;
            width: 30%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        font-size: 1.4rem;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__label {
        width: 40%;
        color: $color-text-grey;
        font-weight: 700;
    }

    &__value {
        color: $color-white;
    }

    &__description {
        font-size: 1.4rem;
        color: $color-text-light-grey;

        @include respond(small) {
            font-size: 1.3rem;
        }
    }
}