.header {
    background-image: url(./../assets/bg-steam.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    text-align: center;
    position: relative;

    &__wrapper {
        width: 85%;
        top: 40%;
        display: flex;
        flex-direction: column;
        gap: 8rem;

        @include respond(small) {
            width: 60%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 90%;
        margin: 0 auto;

        @include respond(x-small) {
            width: 85%;
        }

        @include respond(small) {
            gap: 2rem;
        }
    }

    &-label {
        color: $color-white;
        font-size: 1.7rem;
    }

    &-input-text {
        font-family: inherit;
        font-size: 1.5rem;
        padding: 1rem;
        border: none;
        border-radius: .5rem;

        @include respond(small) {
            font-size: 1.3rem;
            padding: .8rem;
        }
    }
}

.filters {
    background-color: $color-background-grey-dark;
    padding-top: 4rem;

    &__form {
        color: $color-white;
        font-size: 1.5rem;
    }

    &-label {
        margin-right: 2rem;
    }

    &-input {
        padding: .3rem;
        border: none;
        border-radius: .5rem;
    }
}


.results {
    background-color: $color-background-grey-dark;
    padding: 4rem 0;

    &__grid {
        /* margin: 3rem 0; */
        display: grid;
        gap: 4rem;

        @include respond(small) {
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
    }
}

.game-box {
    text-decoration: none;

    &__image {

        img {
            @include image-fit-cover;
        }
    }

    &__info {
        background-image: url(./../assets/bg-price-box.jpg);
    }

    &__game {
        color: $color-white;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        text-transform: uppercase;

        @include respond(x-small) {
            font-size: 1.8rem;
        }

        @include respond(small) {
            font-size: 1.2rem;
            padding: 1rem;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        height: 3rem;

        @include respond(x-small) {
            height: 3.5rem;
        }

        @include respond(small) {
            height: 2rem;
        }

        &-item {
            background-color: $color-grey-dark;
            padding: 0 .6rem;
            height: 100%;
            display: flex;
            align-items: center;

            @include respond(x-small) {
                padding: 0 1rem;
            }

            @include respond(small) {
                padding: 0 .6rem;
            }

            &--discount {
                background-color: $color-offer-green-dark;
                color: $color-offer-green-light;
                font-size: 2rem;

                @include respond(x-small) {
                    font-size: 2.2rem;
                }

                @include respond(small) {
                    font-size: 1.6rem;
                }
            }

            &--final-price {
                background-color: $color-grey-dark;
                color: $color-offer-green-light;
                font-size: 1.4rem;

                @include respond(x-small) {
                    font-size: 1.6rem;
                }

                @include respond(small) {
                    font-size: 1.2rem;
                }
            }

            &--original-price {
                background-color: $color-grey-dark;
                color: $color-grey-light;
                text-decoration: line-through;
                font-size: 1.3rem;

                @include respond(x-small) {
                    font-size: 1.4rem;
                }

                @include respond(small) {
                    font-size: 1rem;
                }
            }
        }
    }
}